/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg01: #f7f7f7;
    --bg02: #e0e0e0;
    --bg03: #dadce0ff;
    --bg04: #cacbcfff;

    --text01: #000;
    --text02: #000;

    --color-main: #00d2dfff;
}

body.light-theme{
    --bg01: #121212ff;
    --bg02: #1a1a1a;
    --bg03: #151515ff;
    --bg04: #cacbcfff;

    --text01: #000;
    --text02: #fff;

    --color-main: #00d2dfff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bx {
    color: var(--text02);
    font-size: 2rem;
}