/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    /*Cores*/
    --corPrincipal: #00d2dfff;
    --corBranco: #fff;
    --corPreto: #000;
    --corFundo: #151515ff;
}

/*Main*/
main{
    color: var(--corPrincipal);
    background-color: var(--corFundo);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Section*/
#main_section{
    height: 50%;
    width: 70%;
    background-color: rgba(146, 145, 145, 0.171);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/*Divs*/
#top_section p{
    text-align: center;
    font-size: 1.1em;
}

#bottom_section{
    padding: 5px 20px;
    background-color: var(--corPrincipal);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.377);
}

#bottom_section a{
    color: var(--corPreto);
    text-transform: uppercase;
    text-decoration: none;
}

#bottom_section a:hover{
    color: var(--corBranco);
}
