/*Responsividade*/

@media(min-width: 768px){
    /*Header*/
    #nav_close, #nav_toggle{
        display: none;
    }

    #nav_header{
        justify-content: space-around;
    }

    #nav_list{
        flex-direction: row;
        gap: 0 2em;
    }

    /*Home*/
    #home{
        flex-direction: row;
    }

    #right_home img{
        display: block;
        width: 400px;
    }

    /*Sobre*/
    #sobre{
        flex-direction: row;
    }

    #right_sobre{
        width: 75%;
    }

    /*Habilidades*/
    #skill_list{
        grid-template-columns: auto auto auto;
    }

     /*Projetos*/
    #projeto_list{
        grid-template-columns: auto auto;
    }

    /*Contato*/
    #informacoes{
        padding: 0 1em;
        flex-direction: row-reverse;
        justify-content: space-around;
        gap: 0 1em;
    }

    #right_info img {
        height: 300px;
    }

    #left_info{
        width: 50vw;
    }
}