#projetos {
    background-color: var(--bg03);
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#projeto_list {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    justify-content: space-around;
    gap: 20px;
}

.projeto_itens {
    padding: 1em;
    background-color: var(--bg04);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

/*Imagens do projeto*/
.img_projeto{
    height: 270px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#projeto01{
    background-image: url(../../imagens/img_proj01.png);
}

#projeto02{
    background-image: url(../../imagens/img_proj02.png);
}

#projeto03{
    background-image: url(../../imagens/img_proj03.png);
}

#projeto04{
    background-image: url(../../imagens/img_proj04.png);
}

/*Sobre o projeto*/
.sobre_projeto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.sobre_projeto h3, span{
    color: var(--text01);
}

.link_projeto{
    color: var(--text01);
    padding: .5em 1em;
    background-color: var(--color-main);
    border-radius: 5px;
}

/*Repositorio GitHub*/
#link_github{
    text-align: center;
    color: var(--text02);
}

#link_github:hover{
    color: var(--color-main);
}