#contato {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informacoes {
    width: 90vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
}

/*Informações de Contato*/
#right_info .info_contato{
    color: #000;
    background-color: var(--corCinza);
    margin-top: 5px;
    padding: 20px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#right_info .contato_icons{
    color: #000;
}

/*Formulário de Contato*/

#left_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#left_info #aviso p{
    text-align: center;
}

#left_info form {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

.form_div {
    background-color: var(--corCinza);
    padding: 0 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.form_div .icon_input {
    color: var(--corPrincipal);
    font-size: 1.5em;
}

.form_div input {
    background-color: var(--corCinza);
    font-size: .9em;
    height: 40px;
    width: 100%;
    padding: 0 5px;
    outline: none;
    border: none;
}

textarea {
    background-color: var(--corCinza);
    font-size: .9em;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border: none;
    resize: none;
}

#btn_enviar {
    font-size: 1.1em;
    background-color: var(--corPrincipal);
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/*Responsividade*/
@media(min-width: 790px){ 
    #informacoes{
        padding: 0 1em;
        flex-direction: row-reverse;
        justify-content: space-around;
        gap: 0 30px;
    }

    #left_info{
        width: 50vw;
    }
}