#home {
    background-color: var(--bg02);
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#left_home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left_home h1 {
    color: var(--color-main);
    font-size: 2em;
    letter-spacing: 5px;
}

#left_home span, p {
    font-size: 1em;
}

#right_home img {
    display: none;
    width: 400px;
}

@media(min-width: 768px){
    #home{
        flex-direction: row;
    }

    #right_home img{
        display: block;
    }
}