#contato {
    padding: 1em 0;
    background-color: var(--corFundoSecundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informacoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right_info img {
    height: 250px;
}

#left_info {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#left_info #aviso p{
    text-align: center;
}

#left_info form {
    width: 100%;
    padding: .8em 0;
    border-bottom: 1px solid var(--corBranco);
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

.form_div {
    background-color: var(--corCinza);
    padding: 0 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.form_div .icon_input {
    color: var(--corPrincipal);
    font-size: 1.5em;
}

.form_div input {
    background-color: var(--corCinza);
    font-size: .9em;
    height: 40px;
    width: 100%;
    padding: 0 5px;
    outline: none;
    border: none;
}

textarea {
    background-color: var(--corCinza);
    font-size: .9em;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border: none;
    resize: none;
}

#btn_enviar {
    font-size: 1em;
    background-color: var(--corPrincipal);
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#btn_enviar:hover{
    color: var(--corBranco);
}

#left_info #social_contato {
    font-size: 1.2em;
    padding: .5em 0;
}

.bxl-whatsapp {
    color: #4aaa4dff;
}

.bxl-discord-alt {
    color: #5562eaff;
}

.bxl-telegram {
    color: #33a6e1ff;
}

.contato_icons:hover {
    color: var(--corPrincipal);
}

/*Responsividade*/
@media(min-width: 768px){    
    /*Contato*/
    #informacoes{
        padding: 0 1em;
        flex-direction: row-reverse;
        justify-content: space-around;
        gap: 0 1em;
    }

    #right_info img {
        height: 300px;
    }

    #left_info{
        width: 50vw;
    }
}