#sobre {
    background-color: var(--bg03);
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px 0;
}

#left_sobre img {
    width: 300px;
    border-radius: 50%;
}

#right_sobre {
    text-align: center;
    padding: 0 1em;
}

@media(min-width: 768px){
    #sobre{
        flex-direction: row;
    }

    #right_sobre{
        width: 55%;
    }
}